@model MovieShopUser.Models.MovieViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-header">
            <h2 class="h2-frontIndexUser">Click at the film to see the details.</h2>
        </div>
    </div>
</div>
<div class="container-random-films">
    <div class="row">
        <div class="container col-md-12 container-for-random-films">

            @foreach (var film in Model.RandomMovies)
            {

                <a href="../Movies/Details/@Html.DisplayFor(modelItem => film.Id)">
                    <div class="col-md-2 text-center "><img class="movie_img_165x200" src="@film.ImageUrl" /><br />@film.Title</div>
                </a>
            }
        </div>
    </div>

    <br />
    <div class="container col-md-12 ">
        <script>
            var $rows = $('#table tr');
            $('#search').keyup(function () {

                var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                    reg = RegExp(val, 'i'),
                    text;

                $rows.show().filter(function () {
                    text = $(this).text().replace(/\s+/g, ' ');
                    return !reg.test(text);
                }).hide();
            });
        </script>
        <div class="col-md-12 container-for-search-films">
            @using (Html.BeginForm())
            {
                <p>
                    Search: @Html.TextBox("SearchString")
                    <select id="genre" name="genreId">
                        <option value="null">All genres</option>
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }


                    </select>
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <table id="table" style="width: 100%;">



            @foreach (var film in Model.MoviesForTable)
            {
                <tr style="border-bottom: #e6e6fa 1px solid; height: 50px;">
                    <td style="width: 20%">@film.Id</td>
                    <td style="width: 70%">@film.Title <b>(@film.Year.Year)</b></td>
                    <td style="width: 5%;"><a class="glyphicon glyphicon-shopping-cart" href="../Customers/CheckEmail/@film.Id"></a></td>
                    <td style="width: 5%;"><a href="../Movies/Details/@film.Id">Details</a></td>
                </tr>
            }

        </table><br />


        *Page @(Model.MoviesForTable.PageCount < Model.MoviesForTable.PageNumber ? 0 : Model.MoviesForTable.PageNumber) of @Model.MoviesForTable.PageCount @Html.PagedListPager(Model.MoviesForTable, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>



